html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    // color: $text;
    color: #333;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

.layout-content {
    // margin: 0 345px;
    width: 60%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.content-main {
     display: flex;
    // justify-content: space-around;
}

.layout-sidebar-second {
    width: 25%;
}