.main-menu {
    padding: 20px 258px;
    background: #F4F5F7;
    &__list {
        display: flex;
        list-style: none;
    }

    &__item a{
        text-decoration: none;
        padding-right: 28px;
        color: #1E212C;
        font-size: 18px;
    }
}