.slick__controls__arrows {
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    margin-bottom: 30px;

    @include respond((max: $xl-break)) {
        margin-top: 22px;
    }

    .slick-prev {
        &::before {
            content: url('../../assets/svg/left-arrow.svg');
        }
    }
    .slick-next {
        &::before {
            content: url('../../assets/svg/right-arrow.svg');
        }
    }

    button {
        border: none;
        // color: $oc-blue;
        cursor: pointer;
        font-size: 0;
        width: 31px;
        background: none;
        // transition: color $animation;

        &:hover {
            background-color: #FF5A30;
            border-radius: 50%;
            color: white;
            padding: 2px;
        }
    }
}

.slick__controls__dots {
    .slick-dots {
        display: flex;
        position: absolute;
        bottom: 8px;
        width: 100%;
    }

    li {
        width: 100%;
        margin: 0 10px;
    }
    button {
    // display: block;
        font-size: 0;
        height: 3px;
        width: 100%;
        margin-bottom: 20px;
        // padding: 0;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        background: #c9c9c9;
        transition: background-color 200ms ease-in-out;
    }
}

.slick__controls__dots li.slick-active button {
    background: #003145;
    border-radius: 50px;
}