$xs-break: 360px;
$sm-break: 480px;
$md-break: 599px;
$lg-break: 768px;
$xl-break: 980px;
$xxl-break: 1280px;
$xxxl-break: 1440px;

// Use with MIN media query.
$xs-break-min: 361px;
$sm-break-min: 481px;
$md-break-min: 600px;
$lg-break-min: 769px;
$xl-break-min: 981px;
$xxl-break-min: 1281px;
$xxxl-break-min: 1441px;